<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Котировки акций</title>
    <link rel="stylesheet" href="/css/stock_page.css">
</head>
<body>

<div class="header">
    <img src="/images/logo.png" alt="Logo">
    <a class="top-right" href="/profile" th:text="'Перейти к профилю'">Перейти к профилю</a>
</div>

<div class="main-container">
    <div th:switch="${fullBuyout}">
        <div th:case="${false}">
            <table>
                <thead>
                <tr class="for-col">
                    <th scope="col">Название компании</th>
                    <th scope="col">Стоимость покупки</th>
                    <th scope="col">Стоимость продажи</th>
                    <th scope="col">Количество доступных акций</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${stock.getQuantity() != 0}" th:each="stock : ${stocks}">
                    <td th:text="${stock.getCompanyName()}">companyName</td>
                    <td th:text="${#numbers.formatDecimal(stock.getPurchasePrice(), 1, 2)}">purchasePrice</td>
                    <td th:text="${#numbers.formatDecimal(stock.getSellPrice(), 1, 2)}">sellPrice</td>
                    <td th:text="${stock.getQuantity()}">quantity</td>
                </tr>
                </tbody>
            </table>
            <div th:switch="${isOpen}">
                <div th:case="${true}">
                    <form th:method="POST" th:action="@{/stocks/{id}/purchase(id=${account.getId()})}">
                        <div class="form-section">
                            <label for="companyAndPrice">Акции какой компании Вы желаете приобрести?</label>
                            <select id="companyAndPrice" name="companyAndPrice"
                                    onchange="calculateStockPurchasePrice(); checkEnoughBalance()">
                                <option th:if="${stock.getQuantity() != 0}" th:each="stock : ${stocks}"
                                        th:value="${stock.getCompanyName()} + '|' + ${stock.getPurchasePrice()}"
                                        th:text="${stock.getCompanyName()} + ' (' +
                                            ${#numbers.formatDecimal(stock.getPurchasePrice(), 1, 2)} + ')'">
                                    companyNameAndStockPurchasePrice
                                </option>
                            </select>
                            <br>
                            <label for="amount">Какое количество акций Вы желаете приобрести?</label>
                            <input type="number" min="1" name="amount" id="amount"
                                   onchange="calculateStockPurchasePrice(); checkEnoughBalance()">
                            <input type="submit" value="Приобрести">
                        </div>
                        <div class="form-section">
                            <p th:text="'Комиссия брокера составляет ' +
                                ${#numbers.formatDecimal(account.getCommission(), 1, 2)} + '% (включена в сделку).'"
                               th:value="${account.getCommission()}"></p>
                            <input type="hidden" id="commission" th:value="${account.getCommission()}">
                            <p id="purchase-price">Стоимость акций:</p>
                            <input type="hidden" id="purchase-price-holder">
                        </div>
                    </form>
                </div>
                <div th:case="*">
                    <p class="alert" th:text="'В данный момент биржа закрыта. Возвращайтесь с 10 до 22 по МСК.'">alert</p>
                </div>
            </div>
        </div>
        <div th:case="*">
            <p th:text="'В данный момент акций нет.'">noStocksInfo</p>
        </div>
    </div>

    <p th:text="'Баланс вашего аккаунта составляет ' + ${#numbers.formatDecimal(account.getBalance(), 1, 2)} + ' рублей.'">
        balance</p>
    <input type="hidden" id="balance-holder" th:value="${account.getBalance()}">

    <p class="hidden alert" id="message"></p> <!-- Изменено -->
</div>

<script src="/js/calculatePurchasePrice.js"></script>
<script src="/js/checkEnoughBalance.js"></script>

</body>
</html>
